@charset "utf-8";
@import "../config/_base_setting";
@import "../config/_mixin";

/*-----------------------------------------------
 __footer
-----------------------------------------------*/
.md_footer {
    padding-top: 300px;
    @include media(768px) {
        padding-top: 100px;
    }
}
.md_ft__nav {
    padding-bottom: 80px;
    @include media(768px) {
        padding-bottom: 40px;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        li {
            flex: 0 1 30%;
            img {
                max-width: 100%;
                height: auto;
                display: block;
                filter: grayscale(100%);
                transition: all .3s linear;
            }
        }
    }
    a {
        text-decoration: none;
        color: $base_font__color;
        &:hover {
            img {
                filter: grayscale(0%);
            }
        }
    }
}
.md_ft__navTtl {
    margin-top: 1.5em;
    padding-top: .75em;
    border-top: 2px solid #000;
    @include media(660px) {
        font-size: 12px;
        margin-top: .75em;
        padding-top: .25em;
    }
}

.md_ft__info {
    background: #000;
    color: #eee;
    padding: 60px 0;
}
.md_ft__logo {
    img {
        max-width: 100%;
        height: auto;
        display: block;
        @include media(768px) {
            width: 160px;
        }
        @include media(660px) {
            width: 120px;
        }
    }
}
.md_ft__txnav {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    @include media(540px) {
        font-size: 11px;
    }
    li {
        white-space: nowrap;
        padding: 0 .25em;
        &:first-child {
            padding-left: 0;
        }
        a {
            padding: 0 .25em;
            text-decoration: none;
            color: #eee;
            transition: all .1s linear;
            &:hover {
            }
        }
    }
}
.md_ft__contact {
    margin-top: 1em;
    a {
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        white-space: nowrap;
        line-height: 1;
        padding : .5em 1em;
        color: #fff;
        border: 1px solid #eee;
        transition: all .1s linear;
        &:hover {
            background: #333;
        }
    }
}
