@charset "utf-8";
@import "../config/_base_setting";
@import "../config/_mixin";

/*-----------------------------------------------
 __header
-----------------------------------------------*/
.md_header {
    padding-top: 80px;
    background: #fff;
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
}
.md_logo {
    padding-bottom: 40px;
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
.md_glnav {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        li {
            padding: 0 .5em;
            a {
                text-decoration: none;
                color: $base_font__color;
                display: inline-block;
                box-sizing: border-box;
                white-space: nowrap;
                padding: .5em 1em;
                transition: all .1s linear;
                border-bottom: 2px solid transparent;
                transition: all .2s linear;
                &:hover {
                    border-color: $base_font__color;
                }
            }
        }
    }
}












