@charset "utf-8";
@import "../config/_base_setting";
@import "../config/_mixin";

/*--------
__common
-----------------------------------------------*/
.pg_common {
}

.p_common__head {
    padding: 80px 0;
    @include media(768px) {
        padding: 40px 0;
    }
    @include media(540px) {
        padding: 30px 0;
    }
}
.p_common__read {
    text-align: center;
    padding-top: 60px;
}
.p_common__headTtl {
    text-align: center;
}


.md_thumbnail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    figure {
        flex: 0 1 calc(100% / 3);
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
}

.md_column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    .l_col {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        @include media(960px) {
            flex: 0 1 100%;
            figure {
                padding: 8%;
                @include media(540px) {
                    padding-right: 3%;
                    padding-left: 3%;
                }
            }
        }
        &.txt {
            .innr {
                @include media(540px) {
                    padding-right: 3%;
                    padding-left: 3%;
                }
            }
        }
        &.ordr2 {
            @include media(960px) {
                order: 2;
            }
        }
        &.between {
            flex: 0 1 50%;
        }
        .innr {
            padding-right: 8%;
            padding-left: 8%;
            &.left {
                padding-left: 0;
                @include media(960px) {
                    padding-left: 8%;
                }
                @include media(540px) {
                    padding-right: 3%;
                    padding-left: 3%;
                }
            }
            &.center {
                width: 100%;
                text-align: center;
                @include media(960px) {
                    text-align: left;
                }
                .center_wrap {
                    display: inline-block;
                    box-sizing: border-box;
                    text-align: left;
                }
            }
        }
    }
}
.md_column__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
.md_column__copy {
    line-height: 1.5;
    @include media(1200px) {
        font-size: 2.5vw;
    }
    @include media(960px) {
        font-size: 36px;
    }
    @include media(768px) {
        font-size: 30px;
    }
    @include media(660px) {
        font-size: 24px;
    }
    @include media(540px) {
        font-size: 5.9vw;
    }
    &.mb {
        margin-bottom: 2em;
    }
}
.md_column__name {
    padding: 1em 0;
    &:before {
        content: 'ー';
        padding-right: .5em;
    }
}
.md_column__description {
    text-align: justify;
    line-height: 1.9;
    @include media(1200px) {
        font-size: 1.35vw;
        line-height: 1.75;
    }
    @include media(960px) {
        font-size: 16px;
    }
    @include media(768px) {
        font-size: 14px;
    }
    p {
        &.mb {
            margin-bottom: 1.5em;
        }
    }
}

.md_column__ttl {
    margin-bottom: 1.5em;
    span {
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        white-space: nowrap;
        line-height: 1;
        padding : .5em 1em;
        border: 2px solid #000;
    }
}
.md_column__dirction {
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: .25em 0;
        dt {
            width: 8em;
            white-space: nowrap;
        }
        dd {
            flex: 1;
        }
    }
}



/*--------
__top
-----------------------------------------------*/

.p_top__intro {
    overflow: hidden;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 35%;
        background-image: url(../images/pTop_intro.jpg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left top;
        z-index: -1;
        width: 65%;
        height: 100%;
    }

    .innr {}
    .col {
        position: relative;
    }
}
.p_top__copy {
    position: relative;
    z-index: 2;
    font-size: 60px;
    line-height: 1.2;
    z-index: 2;
    font-weight: bold;
    padding: 70px 0 70px 0;
    span {
        // letter-spacing: 0em;
    }
}

.p_top__thumbnail {
    position: relative;
    figure {
        &:first-child {
            &:after {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 0;
                width: calc(100% / 3);
                height: 200%;
                background: #fff;
            }
        }
    }
}
.p_top__read {
    position: relative;
    z-index: 2;
    width: 30%;
    text-align: justify;
    line-height: 1.6;
    padding-bottom: 120px;
    p {
        margin-bottom: .5em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}


/*--------
__about
-----------------------------------------------*/
.p_about__nav {
    padding-bottom: 20px;
}
.p_about__navTriger {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    li {
        flex: 0 1 50%;
        cursor: pointer;
        transition: all .1s linear;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 50%;
            height: 2px;
            background: #ddd;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            height: 2px;
            background: #ddd;
        }
        &:hover {
            &:before {
                animation: tab_ani .5s ease 1 normal forwards;
            }
            &:after {
                animation: tab_ani2 .5s ease 1 normal forwards;
            }
        }
        span {
            padding: .5em 0;
            display: inline-block;
            box-sizing: border-box;
            white-space: nowrap;
            color: #ddd;
        }
        &.select {
            &:before,&:after {
                background: #000;
            }
            span {
                color: #000;
            }
        }
    }
}
.p_about__contents {
    padding-top: 40px;
    &.about {
        @include media(960px) {
            padding-top: 0;
        }
    }
    &.company {
        padding-top: 8%;
    }
    &.hide {
        display: none;
    }
}

@keyframes tab_ani {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@keyframes tab_ani2 {
    0% {
        left: 50%;
        width: 0;
    }
    100% {
        width: 50%;
    }
}

.p_about__mv {
    height: 22vw;
    background-image: url(../images/p_company01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include media(1200px) {
        height: 30vw;
    }
    @include media(960px) {
        height: 50vw;
        width: 84%;
        margin: 0 auto;
        margin-bottom: 8%;
    }
    @include media(540px) {
        width: 94%;
    }
}
.p_about__head {
    padding: 80px 0;
    @include media(960px) {
        padding: 0;
    }
    .ttl {
        margin-bottom: 1em;
        @include media(960px) {
            padding-right: 8%;
            padding-left: 8%;
        }
        @include media(540px) {
            padding-right: 3%;
            padding-left: 3%;
        }
    }
    .summary {
        @include media(960px) {
            padding-right: 8%;
            padding-left: 8%;
        }
        @include media(540px) {
            padding-right: 3%;
            padding-left: 3%;
        }
    }
}


/*--------
__manufacturing
-----------------------------------------------*/
.p_manufacturing {
    padding-bottom: 150px;
}
.p_factory {
    padding-top: 20px;
    padding-bottom: 150px;
    background: $c1;
}
.p_factory__contents {
    li {
        position: relative;
        padding-bottom: 80px;
        &:last-child {
            padding-bottom: 0;
        }
        &.even {
            .numbering {
                left: auto;
                right: 0;
            }
            .column_wrap {
                margin-left: 0;
                margin-right: auto;
                .txt {
                    padding-right: 10%;
                    padding-left: 34%;
                }
            }
        }
    }
    .numbering {
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid #000;
        width: 24%;
        .wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .num {
            font-weight: bold;
            font-size: 40px;
            display: block;
            line-height: 1;
            white-space: nowrap;
            text-align: center;
            padding-bottom: 20px;
        }
        .ttl {
            font-weight: bold;
            font-size: 18px;
            display: block;
            line-height: 1;
            white-space: nowrap;
            text-align: center;
        }
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }
    .column_wrap {
        width: 80%;
        margin-left: auto;
        .img {
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
        .txt {
            padding: 0 34% 40px 10%;
        }
    }
}

/*--------
__contact
-----------------------------------------------*/
.p_contact__ttl {
    text-align: center;
    margin-bottom: 1em;
    .icon {
        display: block;
        font-size: 30px;
        padding-bottom: 10px;
        i {
            transform: rotate(90deg);
        }
    }
}
.p_contact__tel {
    text-align: center;
    a {
        display: inline-block;
        box-sizing: border-box;
        border: 2px solid #000;
        text-decoration: none;
        white-space: nowrap;
        line-height: 1;
        padding : .5em 2em;
        color: #000;
        font-size: 30px;
        font-weight: bold;
    }
}
.p_contact__detail {
    margin-top: .5em;
    text-align: center;
}

/*--------
__recruit
-----------------------------------------------*/
.p_recruit__read {
    text-align: center;
    margin-bottom: 2em;
}
.p_recruit__contents {
    .image {
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
}
.p_recruit__details {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 80px;
    @include media(768px) {
        padding-top: 40px;
    }
    th {
        width: 15em;
        border-bottom: 1px solid #ddd;
        padding: .5em 1em;
        line-height: 1.4;
        @include media(768px) {
            font-size: 13px;
            width: 10em;
        }
        @include media(540px) {
            font-size: 12px;
        }
    }
    td {
        border-bottom: 1px solid #ddd;
        padding: .5em 1em;
        line-height: 1.4;
        @include media(768px) {
            font-size: 13px;
        }
        @include media(540px) {
            font-size: 12px;
        }
    }
    .p_recruit__detailList {
        list-style-type: disc;
        padding-left: 1.5em;
        li {
            line-height: 1.5;
            padding-bottom: .25em;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}


