@charset "utf-8";
@import "../config/_base_setting";
@import "../config/_mixin";

/*--------
__common
-----------------------------------------------*/
.pg_common {
}

.md_thumbnail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    figure {
        flex: 0 1 calc(100% / 3);
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
}


/*--------
__top
-----------------------------------------------*/

.p_top__intro {
    overflow: hidden;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 35%;
        background-image: url(../images/pTop_intro.jpg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left top;
        z-index: -1;
        width: 65%;
        height: 100%;
    }

    .innr {}
    .col {
        position: relative;
    }
}
.p_top__copy {
    position: relative;
    z-index: 2;
    font-size: 60px;
    line-height: 1.2;
    z-index: 2;
    font-weight: bold;
    padding: 70px 0 70px 0;
    span {
        letter-spacing: 0em;
    }
}

.p_top__thumbnail {
    position: relative;
    figure {
        &:first-child {
            &:after {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 0;
                width: calc(100% / 3);
                height: 200%;
                background: #fff;
            }
        }
    }
}
.p_top__read {
    position: relative;
    z-index: 2;
    width: 30%;
    text-align: justify;
    line-height: 1.6;
    padding-bottom: 120px;
    p {
        margin-bottom: .5em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}







