@charset "UTF-8";
/*-----------------------------------------------
 __font _settings
-----------------------------------------------*/
body {
  line-height: 1.75;
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: normal;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
  text-rendering: optimizeLegibility;
  color: #000;
  text-align: justify;
}

.palt {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: .05em;
}

.pkna {
  -webkit-font-feature-settings: "pkna";
          font-feature-settings: "pkna";
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

a, a:visited, a:focus, a:active {
  color: #3B5998;
}

a:hover {
  color: #3B5998;
}

/*-----------------------------------------------
 __fontfamily
-----------------------------------------------*/
.serif {
  font-family: 'Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '小塚明朝 ProN', 'メイリオ', Meiryo, serif;
}

/*--- google font ---*/
.gf_noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.gf_noto__serif {
  font-family: 'Noto Serif JP', serif;
}

/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
.lt1 {
  letter-spacing: .1em;
  text-indent: .1em;
}

.lt2 {
  letter-spacing: .2em;
  text-indent: .2em;
}

.lt3 {
  letter-spacing: .3em;
  text-indent: .3em;
}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_42 {
  font-size: 42px;
}

@media screen and (max-width: 767px) {
  .fz_42 {
    font-size: 34px;
  }
}

@media screen and (max-width: 600px) {
  .fz_42 {
    font-size: 24px;
  }
}

.fz_36 {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .fz_36 {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .fz_36 {
    font-size: 22px;
  }
}

.fz_30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fz_30 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .fz_30 {
    font-size: 20px;
  }
}

.fz_28 {
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .fz_28 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .fz_28 {
    font-size: 19px;
  }
}

.fz_24 {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fz_24 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .fz_24 {
    font-size: 16px;
  }
}

.fz_22 {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .fz_22 {
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .fz_22 {
    font-size: 15px;
  }
}

.fz_20 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fz_20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .fz_20 {
    font-size: 16px;
  }
}

.fz_18 {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fz_18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .fz_18 {
    font-size: 14px;
  }
}

.fz_16 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .fz_16 {
    font-size: 14px;
  }
}

.fz_15 {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .fz_15 {
    font-size: 14px;
  }
}

.fz_14 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fz_14 {
    font-size: 13px;
  }
}

.fz_13 {
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .fz_13 {
    font-size: 12px;
  }
}

.fz_12 {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .fz_12 {
    font-size: 10px;
  }
}

/*-----------------------------------------------
 __site_common
-----------------------------------------------*/
body {
  line-height: 1.75;
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: normal;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
  text-rendering: optimizeLegibility;
  color: #000;
  text-align: justify;
}

.palt {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: .05em;
}

.pkna {
  -webkit-font-feature-settings: "pkna";
          font-feature-settings: "pkna";
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

a, a:visited, a:focus, a:active {
  color: #3B5998;
}

a:hover {
  color: #3B5998;
}

/*-----------------------------------------------
 __fontfamily
-----------------------------------------------*/
.serif {
  font-family: 'Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '小塚明朝 ProN', 'メイリオ', Meiryo, serif;
}

/*--- google font ---*/
.gf_noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.gf_noto__serif {
  font-family: 'Noto Serif JP', serif;
}

/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
.lt1 {
  letter-spacing: .1em;
  text-indent: .1em;
}

.lt2 {
  letter-spacing: .2em;
  text-indent: .2em;
}

.lt3 {
  letter-spacing: .3em;
  text-indent: .3em;
}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_42 {
  font-size: 42px;
}

@media screen and (max-width: 767px) {
  .fz_42 {
    font-size: 34px;
  }
}

@media screen and (max-width: 600px) {
  .fz_42 {
    font-size: 24px;
  }
}

.fz_36 {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .fz_36 {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .fz_36 {
    font-size: 22px;
  }
}

.fz_30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fz_30 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .fz_30 {
    font-size: 20px;
  }
}

.fz_28 {
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .fz_28 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .fz_28 {
    font-size: 19px;
  }
}

.fz_24 {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fz_24 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .fz_24 {
    font-size: 16px;
  }
}

.fz_22 {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .fz_22 {
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .fz_22 {
    font-size: 15px;
  }
}

.fz_20 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fz_20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .fz_20 {
    font-size: 16px;
  }
}

.fz_18 {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fz_18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .fz_18 {
    font-size: 14px;
  }
}

.fz_16 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .fz_16 {
    font-size: 14px;
  }
}

.fz_15 {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .fz_15 {
    font-size: 14px;
  }
}

.fz_14 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fz_14 {
    font-size: 13px;
  }
}

.fz_13 {
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .fz_13 {
    font-size: 12px;
  }
}

.fz_12 {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .fz_12 {
    font-size: 10px;
  }
}

/*-----------------------------------------------
 __layout
-----------------------------------------------*/
.dnon {
  display: none;
}

.l_row {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.l_row.mx_1440 {
  max-width: 1440px;
}

.l_row.mx_1366 {
  max-width: 1366px;
}

.l_row.mx_1200 {
  max-width: 1200px;
}

.l_row.mx_1024 {
  max-width: 1024px;
}

.l_row.mx_1100 {
  max-width: 1100px;
}

.l_row.pd_side {
  padding: 0 5%;
}

.l_row.pd_side3 {
  padding: 0 3%;
}

.l_row.pd_side2 {
  padding: 0 2%;
}

@media screen and (max-width: 1200px) {
  .l_row.pd_side2 {
    padding: 0 5%;
  }
}

.wrapper {
  position: relative;
}

/*-----------------------------------------------
 __header
-----------------------------------------------*/
/*-----------------------------------------------
 __header
-----------------------------------------------*/
.md_header {
  padding-top: 80px;
  background: #fff;
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .md_header {
    padding-top: 40px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 660px) {
  .md_header {
    padding-top: 20px;
  }
}

.md_logo {
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .md_logo {
    padding-bottom: 20px;
  }
}

.md_logo a {
  display: block;
}

.md_logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .md_logo img {
    width: 200px;
  }
}

@media screen and (max-width: 660px) {
  .md_logo img {
    width: 160px;
  }
}

@media screen and (max-width: 540px) {
  .md_logo img {
    width: 130px;
  }
}

@media screen and (max-width: 980px) {
  .md_glnav {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .md_glnav {
    font-size: 14px;
  }
}

@media screen and (max-width: 660px) {
  .md_glnav {
    display: none;
  }
}

.md_glnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 980px) {
  .md_glnav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.md_glnav ul li {
  padding: 0 .5em;
}

@media screen and (max-width: 980px) {
  .md_glnav ul li {
    padding: 0;
  }
}

.md_glnav ul li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  padding: .5em 1em;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.md_glnav ul li a:hover {
  border-color: #000;
}

.md_glnav__triger {
  font-family: 'Bitter', serif;
  position: absolute;
  right: 3%;
  top: 0px;
  font-size: 14px;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (max-width: 660px) {
  .md_glnav__triger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.md_glnav__triger span {
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 540px) {
  .md_glnav__triger span {
    font-size: 12px;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
}

.modal {
  display: none;
  background: #eee;
  width: 90%;
  height: 90%;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 100000;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal .innr {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0 0 0;
  text-align: center;
  position: relative;
}

.md_modal__nav {
  font-size: 14px;
}

.md_modal__nav li {
  padding: .25em 0;
}

.md_modal__nav li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em 1em;
}

.md_modal__info {
  padding-top: 40px;
}

.md_modal__info .tel {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  line-height: 1;
  padding: .5em 1em;
  color: #000;
  border: 2px solid #000;
  margin-top: 10px;
}

.md_modal__close {
  position: fixed;
  top: 3%;
  right: 3%;
  width: 50px;
  height: 50px;
  background: #999;
  z-index: 100001;
  border-radius: 50%;
}

.md_modal__close span {
  width: 2px;
  height: 30%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #eee;
  display: block;
  position: absolute;
  left: 49%;
  top: 32.5%;
}

.md_modal__close span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*-----------------------------------------------
 __footer
-----------------------------------------------*/
/*-----------------------------------------------
 __footer
-----------------------------------------------*/
.md_footer {
  padding-top: 300px;
}

@media screen and (max-width: 768px) {
  .md_footer {
    padding-top: 100px;
  }
}

.md_ft__nav {
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .md_ft__nav {
    padding-bottom: 40px;
  }
}

.md_ft__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.md_ft__nav ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.md_ft__nav ul li img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.md_ft__nav a {
  text-decoration: none;
  color: #000;
}

.md_ft__nav a:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.md_ft__navTtl {
  margin-top: 1.5em;
  padding-top: .75em;
  border-top: 2px solid #000;
}

@media screen and (max-width: 660px) {
  .md_ft__navTtl {
    font-size: 12px;
    margin-top: .75em;
    padding-top: .25em;
  }
}

.md_ft__info {
  background: #000;
  color: #eee;
  padding: 60px 0;
}

.md_ft__logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .md_ft__logo img {
    width: 160px;
  }
}

@media screen and (max-width: 660px) {
  .md_ft__logo img {
    width: 120px;
  }
}

.md_ft__txnav {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 540px) {
  .md_ft__txnav {
    font-size: 11px;
  }
}

.md_ft__txnav li {
  white-space: nowrap;
  padding: 0 .25em;
}

.md_ft__txnav li:first-child {
  padding-left: 0;
}

.md_ft__txnav li a {
  padding: 0 .25em;
  text-decoration: none;
  color: #eee;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.md_ft__contact {
  margin-top: 1em;
}

.md_ft__contact a {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  line-height: 1;
  padding: .5em 1em;
  color: #fff;
  border: 1px solid #eee;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.md_ft__contact a:hover {
  background: #333;
}

/*-----------------------------------------------
 __page
-----------------------------------------------*/
/*--------
__common
-----------------------------------------------*/
.p_common__head {
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  .p_common__head {
    padding: 40px 0;
  }
}

@media screen and (max-width: 540px) {
  .p_common__head {
    padding: 30px 0;
  }
}

.p_common__read {
  text-align: center;
  padding-top: 60px;
}

.p_common__headTtl {
  text-align: center;
}

.md_thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.md_thumbnail figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% / 3);
          flex: 0 1 calc(100% / 3);
}

.md_thumbnail figure img {
  max-width: 100%;
  height: auto;
  display: block;
}

.md_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.md_column .l_col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 960px) {
  .md_column .l_col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .md_column .l_col figure {
    padding: 8%;
  }
}

@media screen and (max-width: 960px) and (max-width: 540px) {
  .md_column .l_col figure {
    padding-right: 3%;
    padding-left: 3%;
  }
}

@media screen and (max-width: 540px) {
  .md_column .l_col.txt .innr {
    padding-right: 3%;
    padding-left: 3%;
  }
}

@media screen and (max-width: 960px) {
  .md_column .l_col.ordr2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.md_column .l_col.between {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.md_column .l_col .innr {
  padding-right: 8%;
  padding-left: 8%;
}

.md_column .l_col .innr.left {
  padding-left: 0;
}

@media screen and (max-width: 960px) {
  .md_column .l_col .innr.left {
    padding-left: 8%;
  }
}

@media screen and (max-width: 540px) {
  .md_column .l_col .innr.left {
    padding-right: 3%;
    padding-left: 3%;
  }
}

.md_column .l_col .innr.center {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .md_column .l_col .innr.center {
    text-align: left;
  }
}

.md_column .l_col .innr.center .center_wrap {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.md_column__img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.md_column__copy {
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .md_column__copy {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 960px) {
  .md_column__copy {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .md_column__copy {
    font-size: 30px;
  }
}

@media screen and (max-width: 660px) {
  .md_column__copy {
    font-size: 24px;
  }
}

@media screen and (max-width: 540px) {
  .md_column__copy {
    font-size: 5.6vw;
  }
}

.md_column__copy.mb {
  margin-bottom: 2em;
}

.md_column__name {
  padding: 1em 0;
}

.md_column__name:before {
  content: 'ー';
  padding-right: .5em;
}

.md_column__description {
  text-align: justify;
  line-height: 1.9;
}

@media screen and (max-width: 1200px) {
  .md_column__description {
    font-size: 1.35vw;
    line-height: 1.75;
  }
}

@media screen and (max-width: 960px) {
  .md_column__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .md_column__description {
    font-size: 14px;
  }
}

.md_column__description p.mb {
  margin-bottom: 1.5em;
}

.md_column__ttl {
  margin-bottom: 1.5em;
}

.md_column__ttl span {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  line-height: 1;
  padding: .5em 1em;
  border: 2px solid #000;
}

.md_column__dirction div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: .25em 0;
}

.md_column__dirction div dt {
  width: 8em;
  white-space: nowrap;
}

.md_column__dirction div dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*--------
__top
-----------------------------------------------*/
.p_top__intro {
  overflow: hidden;
  position: relative;
}

.p_top__intro:after {
  content: '';
  position: absolute;
  top: 0;
  left: 35%;
  background-image: url(../images/pTop_intro.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  z-index: -1;
  width: 65%;
  height: 100%;
}

.p_top__intro .col {
  position: relative;
}

.p_top__copy {
  position: relative;
  z-index: 2;
  font-size: 60px;
  line-height: 1.2;
  z-index: 2;
  font-weight: bold;
  padding: 70px 0 70px 0;
}

.p_top__thumbnail {
  position: relative;
}

.p_top__thumbnail figure:first-child:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: calc(100% / 3);
  height: 200%;
  background: #fff;
}

.p_top__read {
  position: relative;
  z-index: 2;
  width: 30%;
  text-align: justify;
  line-height: 1.6;
  padding-bottom: 120px;
}

.p_top__read p {
  margin-bottom: .5em;
}

.p_top__read p:last-child {
  margin-bottom: 0;
}

/*--------
__about
-----------------------------------------------*/
.p_about__nav {
  padding-bottom: 20px;
}

.p_about__navTriger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p_about__navTriger li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  cursor: pointer;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  position: relative;
}

.p_about__navTriger li:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  height: 2px;
  background: #ddd;
}

.p_about__navTriger li:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background: #ddd;
}

.p_about__navTriger li:hover:before {
  -webkit-animation: tab_ani .5s ease 1 normal forwards;
          animation: tab_ani .5s ease 1 normal forwards;
}

.p_about__navTriger li:hover:after {
  -webkit-animation: tab_ani2 .5s ease 1 normal forwards;
          animation: tab_ani2 .5s ease 1 normal forwards;
}

.p_about__navTriger li span {
  padding: .5em 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  color: #ddd;
}

.p_about__navTriger li.select:before, .p_about__navTriger li.select:after {
  background: #000;
}

.p_about__navTriger li.select span {
  color: #000;
}

.p_about__contents {
  padding-top: 40px;
}

@media screen and (max-width: 960px) {
  .p_about__contents.about {
    padding-top: 0;
  }
}

.p_about__contents.company {
  padding-top: 8%;
}

.p_about__contents.hide {
  display: none;
}

@-webkit-keyframes tab_ani {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes tab_ani {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes tab_ani2 {
  0% {
    left: 50%;
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes tab_ani2 {
  0% {
    left: 50%;
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.p_about__mv {
  height: 22vw;
  background-image: url(../images/p_company01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 1200px) {
  .p_about__mv {
    height: 30vw;
  }
}

@media screen and (max-width: 960px) {
  .p_about__mv {
    height: 50vw;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 8%;
  }
}

@media screen and (max-width: 540px) {
  .p_about__mv {
    width: 94%;
  }
}

.p_about__head {
  padding: 80px 0;
}

@media screen and (max-width: 960px) {
  .p_about__head {
    padding: 0;
  }
}

.p_about__head .ttl {
  margin-bottom: 1em;
}

@media screen and (max-width: 960px) {
  .p_about__head .ttl {
    padding-right: 8%;
    padding-left: 8%;
  }
}

@media screen and (max-width: 540px) {
  .p_about__head .ttl {
    padding-right: 3%;
    padding-left: 3%;
  }
}

@media screen and (max-width: 960px) {
  .p_about__head .summary {
    padding-right: 8%;
    padding-left: 8%;
  }
}

@media screen and (max-width: 540px) {
  .p_about__head .summary {
    padding-right: 3%;
    padding-left: 3%;
  }
}

/*--------
__manufacturing
-----------------------------------------------*/
.p_manufacturing {
  padding-bottom: 150px;
}

.p_factory {
  padding-top: 20px;
  padding-bottom: 150px;
  background: #ECF1E8;
}

.p_factory__contents li {
  position: relative;
  padding-bottom: 80px;
}

.p_factory__contents li:last-child {
  padding-bottom: 0;
}

.p_factory__contents li.even .numbering {
  left: auto;
  right: 0;
}

.p_factory__contents li.even .column_wrap {
  margin-left: 0;
  margin-right: auto;
}

.p_factory__contents li.even .column_wrap .txt {
  padding-right: 10%;
  padding-left: 34%;
}

.p_factory__contents .numbering {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #000;
  width: 24%;
}

.p_factory__contents .numbering .wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p_factory__contents .numbering .num {
  font-weight: bold;
  font-size: 40px;
  display: block;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  padding-bottom: 20px;
}

.p_factory__contents .numbering .ttl {
  font-weight: bold;
  font-size: 18px;
  display: block;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
}

.p_factory__contents .numbering:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.p_factory__contents .column_wrap {
  width: 80%;
  margin-left: auto;
}

.p_factory__contents .column_wrap .img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.p_factory__contents .column_wrap .txt {
  padding: 0 34% 40px 10%;
}

/*--------
__contact
-----------------------------------------------*/
.p_contact__ttl {
  text-align: center;
  margin-bottom: 1em;
}

.p_contact__ttl .icon {
  display: block;
  font-size: 30px;
  padding-bottom: 10px;
}

.p_contact__ttl .icon i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.p_contact__tel {
  text-align: center;
}

.p_contact__tel a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #000;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;
  padding: .5em 2em;
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.p_contact__detail {
  margin-top: .5em;
  text-align: center;
}

/*--------
__recruit
-----------------------------------------------*/
.p_recruit__read {
  text-align: center;
  margin-bottom: 2em;
}

.p_recruit__contents .image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.p_recruit__details {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .p_recruit__details {
    padding-top: 40px;
  }
}

.p_recruit__details th {
  width: 15em;
  border-bottom: 1px solid #ddd;
  padding: .5em 1em;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .p_recruit__details th {
    font-size: 13px;
    width: 10em;
  }
}

@media screen and (max-width: 540px) {
  .p_recruit__details th {
    font-size: 12px;
  }
}

.p_recruit__details td {
  border-bottom: 1px solid #ddd;
  padding: .5em 1em;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .p_recruit__details td {
    font-size: 13px;
  }
}

@media screen and (max-width: 540px) {
  .p_recruit__details td {
    font-size: 12px;
  }
}

.p_recruit__details .p_recruit__detailList {
  list-style-type: disc;
  padding-left: 1.5em;
}

.p_recruit__details .p_recruit__detailList li {
  line-height: 1.5;
  padding-bottom: .25em;
}

.p_recruit__details .p_recruit__detailList li:last-child {
  padding-bottom: 0;
}

.sf_mb {
  font-family: "ゴシックMB101 B","Gothic MB101 Bold", sans-serif;
}

/*# sourceMappingURL=maps/style.css.map */
